html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  overflow: hidden;
}
@media all and (width: 1024px) and (height: 691px) and (orientation: landscape) {
  html,
  body {
    height: 671px;
  }
}
@media all and (width: 1024px) and (height: 692px) and (orientation: landscape) {
  html,
  body {
    height: 672px;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a,
input,
textarea,
select {
  outline: 0;
}
a {
  text-decoration: none;
  color: #007aff;
}
p {
  margin: 1em 0;
}
::-webkit-input-placeholder {
  color: #cacaca;
}
input:-moz-placeholder {
  color: #cacaca;
}
/* === Views === */
.views,
.view {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.views {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.view {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* === Pages === */
.pages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: none;
}
.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  opacity: 1;
}
.page.cached {
  display: none;
}
.page-on-left {
  opacity: 0.9;
  -webkit-transform: translate3d(-20%, 0, 0);
  -ms-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}
.page-on-center {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page-on-right {
  opacity: 1;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page-content {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #efeff4;
  position: relative;
}
.page-transitioning {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.page-from-right-to-center {
  -webkit-animation: pageFromRightToCenter 400ms forwards;
  animation: pageFromRightToCenter 400ms forwards;
}
.page-from-center-to-right {
  -webkit-animation: pageFromCenterToRight 400ms forwards;
  animation: pageFromCenterToRight 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenter {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes pageFromRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes pageFromCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.page-from-center-to-left {
  -webkit-animation: pageFromCenterToLeft 400ms forwards;
  animation: pageFromCenterToLeft 400ms forwards;
}
.page-from-left-to-center {
  -webkit-animation: pageFromLeftToCenter 400ms forwards;
  animation: pageFromLeftToCenter 400ms forwards;
}
.page-from-center-to-right {
  -webkit-animation: pageFromCenterToRight 400ms forwards;
  animation: pageFromCenterToRight 400ms forwards;
}
.page-from-right-to-center {
  -webkit-animation: pageFromRightToCenter 400ms forwards;
  animation: pageFromRightToCenter 400ms forwards;
}
@-webkit-keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
}
@-webkit-keyframes pageFromLeftToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToRight {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.9;
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes pageFromRightToCenter {
  from {
    opacity: 0.9;
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.layerGroup .page {
  box-shadow: none !important;
}
.layerGroup .page-on-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 1;
}
.layerGroup .page-on-center {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.layerGroup .page-on-right {
  opacity: 1;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.layerGroup .page-from-center-to-left {
  -webkit-animation: pageFromCenterToLeftGroup 400ms forwards;
  animation: pageFromCenterToLeftGroup 400ms forwards;
}
.layerGroup .page-from-left-to-center {
  -webkit-animation: pageFromLeftToCenterGroup 400ms forwards;
  animation: pageFromLeftToCenterGroup 400ms forwards;
}
.layerGroup .page-from-right-to-center {
  -webkit-animation: pageFromRightToCenterGroup 400ms forwards;
  animation: pageFromRightToCenterGroup 400ms forwards;
}
.layerGroup .page-from-center-to-right {
  -webkit-animation: pageFromCenterToRightGroup 400ms forwards;
  animation: pageFromCenterToRightGroup 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenterGroup {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToRightGroup {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToLeftGroup {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes pageFromLeftToCenterGroup {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.android .page {
  box-shadow: none !important;
}
.android .page-from-right-to-center {
  -webkit-animation: pageFromRightToCenterDegrade 400ms forwards;
  animation: pageFromRightToCenterDegrade 400ms forwards;
}
.android .page-from-center-to-right {
  -webkit-animation: pageFromCenterToRightDegrade 400ms forwards;
  animation: pageFromCenterToRightDegrade 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenterDegrade {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes pageFromCenterToRightDegrade {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
/* === Preloader === */
.preloader {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: spin 1s step-end infinite;
  animation: spin 1s step-end infinite;
}
.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.preloader-white:after,
.preloader:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABuCAYAAADGWyb7AAARWklEQVR4Xu1dCXgURRaentwYjpBMgkCWhBBUwEhUDlFWIkRAQUA59FMRV3dB/bg9WBEcETz2A1nwYEVXUdxv5VhFbgSMCijIssRwiMQAEq5kkhAIBHLMzP5v6GkqnZ6Z7knPpGem6/v6m6S7uurV+/tVvXr16hVnCLCUk5MTnpGR0RFk38hxXHuj0ZiCv/+Ay2S32xNwrxl+w/HblJqGvyvwdy1+z+O3BLcsuI7bbLZjuHcEf+/Ly8s7nJWVVRtIrOC0TmxhYWFM06ZNbwOdd4HRWWD+Lfg7SmW6q1D2HpSdg3JzKioqfkhOTr6kch2qFqdJ4IqKitIiIiJGgJH9cfVEi6NVbbXnwi4DyJ24NtXU1KxISkoq8PyKf3NoBjhIVsvY2NiHAdRjYAFJlWYSAPwfiFly4cKFf0ESy7RAWKMDd/bs2a5gxGRcJGExcpgCRp5G3jz8HkR+GquOYswqCg8PpzHsLKSk1mQyVRw4cCCyWbNmsehqW+B5LPLF4r14XKnIl4LfTrhHY2VrmfVS97kC1/y4uLhcOe/4Kk+jAVdWVnYHFIuX0bB+nhoH5u5Dni24tgGUHxMTE894ekfJ8+Li4lbommkcvQNXNoC8Ucb7W/AxvNKyZcvtMvKqnsXvwEHCMsGYN4lBblpjBVjbcC3HtSY+Pv6E6i13U2BpaWlb0DgY10hcvZE1zE32zXg2rUWLFtSd+i35DTiLxXIturLZYMQYtM7oooUF+Io/slqtS9DVnfIbF9xUBLpbh4WFjUHv8CdkS3OR1YYPbEltbe1LoPu0P+j2B3AcusWxAOwNXM2lGkXShftzFyxYsNZsNtv80XCldYAu48SJEwfhvWd5KaxXBNpxDtc0dJ/v46FdaR1K8vsUOHSLKSDmEzT0jy4Ay0FDZ6ChO5QQ3dh58SHejja9iivLzYc4GgrMMV/R6jPg0LhH0LB3yZIhJp60QXSJUzF2bfRVw/xRLsbCAehC55F2KtHG82jnM/goP/MFLaoDl5+fH5WQkPAOGvOkRGMqcG96bm7uokAzMbliPpngunbt+hSez3Ga2di8AO+fJSUlz6Snp1epCaCqwJECArX6KxDYTYLIjVA6/gIpK1SzAVopC9KXDCVmMegZIEHTbkxjhqipuKgGHEDrCK1xE746GtfYVEMDNvr7+bjp0wFbAyByGNengAevg5YIkeQdg9bZH+AdVoNOVYArLy8nE9UGXCYRsWSFHwUp26kGsYFSBqSvJ8a+ZQCQVi3YZAF492Io2d3QtjQYOIDWFxL1pbh/x721IO5RSFp5Q4kMxPfBlzjw4FPwhaYQQsK9C7g3FBP2rQ1pV4OAI60K/TqNaZEi4hZu3rx5ysiRI60NIS7Q312+fHlYdnb2WwBqgqgt1eiJhkLjpF7Kq+Q1cOjL+6DGdSCqCftB4e/n8TXN9YqaIH0J0vcsmvY3XAK/IXmV+H8QeiRaA1ScvAIOczSyqG8TWULs+Iqexlf0D8VUhMAL4Nk4jHvvicAjS0tv8IyM6IqSYuDIAAsCfgRobVlJA2hP8aYeRQSEUmYy/YF3i0TgnQDvblNqSFcEHK1vtWnThpYxxPO05/TuUd4nyE8X5oly78Z0qreSSboi4FDph5C0J0SVLgJoT8sjW89FHMCY9y5+6vCMLCwY7+pZm1xxTDZwZHuEmC9lCyKVH9rj0FDXHpV+jry2uUo8VUCX+ahc26Ys4Hgr/88ig3E+KuqGis4pJVzPbzBAEJpDEH4CL8jV0JEgCOfxc5OcVQU5wJEZ51t2aQYVXMLVHaDt10HwngMArwv4uoudUtHaJIC7k3B0V7JH4Hg1ljQhIfFqf5173pMf2m+Cv0/x0wSWv6Shu51WuQWOd6I5JJqvbYAycq+nLyK04VDUeg7Kyjq8MZDpMs9hNeF6d05RboFDF/kRQHucKbAC0tY5WJdmFLFbxcy0JASpO8Dae8mHBV2mwHtxdS6B4y3+NHgKjj0obCIKW6gizXpRPAcgJBMA3AJ2RILU9cAy0H+lmOQSOBS0FgVRl+hIAG0/Vq4zg2XlWmtfDL+Svhc878LwfB0Epc7qgvOZJHDkXYwCyE+QfZ6NsY2cUvXkIw6gy8zGasvXTPGQF/vNUl7TroBbAeCGM8jn4OW7fESvXizDAQjNN6z3GIBbCd6P8DjGwbHlerggHGDHNviK3A6F5Aedw77nAKSuF6SOdVe0YdW8M1bND7G115M4IP4JEB/NSNu3QFzSf9D3zQjNGoBBDjDow2DwCTAY4xI4fqvTCbwk7JqBqA7FS7TKrSc/cQDADQEGqxjgLuH/NtAxzkoqJxIq6RFk7oDMwe6d5SdI5FVD7u6TJk3KR+72DHh1pmJ1ukrM3WjOIGwqxGT7RZheyNVMT37mAExhf8Wk/DWm2j0QolvrSRzMWx0iIyMJZWeyYQKYrJVdM37mW6NXxzsX0/YywQBSXV2dDjPYb0ScIHFA+EUgPIcRTX0K0MjwiacGbA8oAIdM5PxDOzIdifch0R1/GhE88coMFMXtUBRpo+UViSNtEvuki/GnsPMSc4e2mDucbES6Q75q2lSJvRgsBlaE8kikAAIO4CBtwyBtXzDd5D4gmxHynNMAA4BNHrBh96QPh5LyHydwtMdrCgPcWwBuqgboDnkSAJwYG4r4MMUBHKYBu/DTnQHufjz8MuS5pgEGiHtDkPQTJK4HR8sJmZmZF3BDCLMEtfNatUNSaIAHAUnCmTNnEqOjo4sY4qv27t0by8Go2QlGTTIqOxI0l1OQtjYB2cogJRpSR2ZIARMY/TsTcKMA3OdMmzdCFAX/hyDlRUA1C0MZ7eoRdroCuAcplIV44u0Y/AKqZUFOLCSOtmpR2CxHwhx7OgG3GBaTPzNd5QQA93aQ8yKgmgfgxgM4wdcHwH1ArmEUsqI/g+Z9MCyvCaiWBTmxEK7BEK7VTDO/JuDqrAjAYtIDFhPy7tKTRjgAr4Ru8EpgMdlD7uVHIYYpThqrqqo6aDGwpkZ42ChkUODVqKgox6oAJWj+xwi4ctZTGTcxxIXmhvtGQUVGpRQIANmEAKcUM4yAoyDTjsDTlLAG14yCdMooT8/iJw5gytYMUzZhV5QjcgPQrOOWgDmcx40gfqJXr4bhgBgnHbgA+TzqAad3ldpHTrKr1JUT7QPnSjk5BuWknT4d0C6AktMBfQKuXcCclElOwHWTl/aBkzR56UZm7QMnaWTWl3UCArj6yzr6Qqr2gZNcSJVwXTgJWyUbYE37LQtyCiVdF6SchbBC0AorBKyDSpCzRrvNc+ksRCTr7nnaBc6lex6RLOF0qTvEagRLYDMXBhLBORkrA3UcYh8AnSudtOKh7oKuHeDELugjsIKzUt/0oRGApMjwuOmD7y71bVYaA5EPBSxsdau3zYro1Tc2agy1K7rHVoxvQnwZ8qeEB55je7Gw2u1iK3FbNc+D0R5rtEsRv5WYziES9ixKbiXmpwX65n2NYCl78z4/zokjuOnhMhoBSMXhMvgtxbR1VTgwXQ9Q43/kpALU4AzytuwZ5HpIKP/j4rFGiZBQn8J+TAfbC6kecFhtvQHuzhQkW4ivoQdh88hr1TK4CMLWBdsCfnELHD/WrYQaStYUR0J3+Q0Q76sadXpBLjngddhDHjipQKP9GnrmmY6Xew48t774xe2FBkeQoBm3hxt6tTUqCzTKg6eH9vXjl2b++Gj0+kvXVJytsodTtQlNOMP6kRHKQvvSi5gA3orgKBSNQRjrMHMfj5n7O35sT8hUNfGrkuXrj1iFSLDxMZxhzQNcN8XBtHmpW4KxTtBmILcUvr6T0iOzQob7XjZ01paSbisPWXddqrlqycpqZ/xl8f2meueLO6uQc2DErwBPOIQd4JH4DiadxUs69dcYDtBkOy/96TP7iu3CwcAxEQb7qI7czdPvTsx1xSyPO3P0I1p8+51NXmP599rfbA+ytQzqYPx8/mDTQ+5q9ggcXqY9dN9B6hxR2yjR+Z50khW6zIO+bVZwlz5zk2Xwl4dtqy/XXm1nx3jufLcj78VBEm0NBY6WF1JQiPgYsl8BXg/9GDLvPq7Zm04mby4M/+1UxdUTnamLHJnO9Xmpf+L3nkqVI3GOMlwc/LcGB/8N0w/+88Tmus/Nyw9E7q8xHf+52J7EPhmSbnx/7iDTODmlyQaOCoPkSR21+SYm5tPkVKbnucKBx1cW524vtN/E8qNna+7w0lGJ18nlkSLg8vPzozCvoMNthaDO/Jg3FZrmW3IrDeV847+yrNp4xDaE5UFqC8PFXknnW5vvSacTG2UlRcBRia6Ok8ajcZC8xbJqDdFMk1dblq4rsD3CzqNgIbEOTDPeNrNfwm4lbFEMHD/eSR3gDl3FcYD7+0oICJW8k9ZYPttQYHvYxqDWBMrIsOsMw83ZSUJ0Xrn88Ao4fryjY1vIntmEqYyMos+h2xSfcy2XnqDMN36VZfWmo7bBrKRFwyI5uINxymsDTfO9abTXwPGSNxAxpugokUi2coC3ANrm1FDXNkl7PG407dxWaM9k+RMB6+99HY3mNwaaXvEGNHqnQcDx4N0DqaP1O+E8Hl5hoUBuo0M1StHsrafa5Z4J3yVW+aPgszUovWGgqQIc3232we9qNkIRD94xjHsPwcKy09svKxDfm7HR8uQ3v9sXFVdeWaJxJppgD0ozTvW2e2TLarDEOQvDBD0DwK3DJd5bV4Ou8wVI3t+RN6gN02QwLs185ostx2xDakUGK9Ies1MND826O3GFGh+jasARMfBXaQN/FRrz6szzeELXw3dlbLAuCdHSTG6RbR1r5XcCRPO0O5LDspSq/O4AVhU4qujo0aPRmM+9A8l7QlwxJI8mmC/hkNxFwXJILq1cl7ZsuvS7QusD7Hqas+1kEUmLvNjDPCy1XA1Jc5ahOnDOgmEeo1Mf32bX8pzPAOBBjH2TIX3sQa5qtssvZU1bX/LCT6esrxRWXA39z45n2SnGD+YNMo31BTE+A46IxU7X9nQQObskxDYCz7biehmTdvZMUF+0U9Uyp2+0jNtfbJtzsNTQUqpgLM2c69GKGzLzbtN3qlbMFOZT4KgeGrAnTJgwFuC9zgY0FQGYAwDnLVy4cIOndShfMcJTuWZzTnhV9y4z9pfYxx8qtVPgz3qJtMa+7YzLmu/Z/6jZnMWssnkqXflznwPnJIl2n0BxmQ3wxuCe4IAkIrkAXeiHUGI+1cqBg7M2F2cWXTS8nldsuOvMRXuEFIuN4GL3a7nD18cZRrlzN1AOj+s3/AackwQ+LhXt8ernpiFWSOD3uJaRj4u/NdFZmyy3lFUbJhectd9zuMwex9oXxTR3NhnKMhK4Z2cNSPxYTWA8leV34JwEYd7XG+aymR4AdGQHeD/jZwuuHQjlsaNVq1Z01p1qybzldKfK6rDRpZVc3+MVts6/lxtiPE04CbAuCWEzZw9IeFc1QhQU1GjAOWmE9tkVf9MpFiPEZjNX7QCQJ5F3H34PUERw5CMLTRHiFltw/1xlZWVV69atK+l985pTCWGRxqac0dim2mZIq7Fy7StruBsu1NhTyy7bU05fMMSVXrILmwfd8S4SuW5K5Ao6xBmmz+qfuEwBn1XP2ujAOVvEn0H+CP5/DMy/uSEt/eGEzfDqjlpDSaUnuZFXS2pzQ+UN8WEbE2Ktz8/om1Qg7y3f5tIMcGwzaVszFJnhALA/rp54JuzXk8OOgcuqGwQaSVZac648ublhV2KMfd7L/ZM2y6nXn3k0CRzLAEhiDM5v7YV7tP5HG9npnPI6y0hihikFjpZZUppxFQAqr2U0tyrKePkj84BkIc6/PwGRW5fmgRM3hGKPZWRkXAdJpHND0+iUEjJsY6wjj6l4WqHYVmhrMmdHbRTGLgMtWIYbDfaYMM56TZS9JjaCuxgbyZXGRhoKm4Rzv1wTbthqPF2xyfx46mW5TNNCvv8DeSoGEfwdUZsAAAAASUVORK5CYII=');
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  5.55555556% {
    -webkit-transform: rotate(20deg);
  }
  11.11111111% {
    -webkit-transform: rotate(40deg);
  }
  16.66666667% {
    -webkit-transform: rotate(60deg);
  }
  22.22222222% {
    -webkit-transform: rotate(80deg);
  }
  27.77777778% {
    -webkit-transform: rotate(100deg);
  }
  33.33333333% {
    -webkit-transform: rotate(120deg);
  }
  38.88888889% {
    -webkit-transform: rotate(140deg);
  }
  44.44444444% {
    -webkit-transform: rotate(160deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  55.55555556% {
    -webkit-transform: rotate(200deg);
  }
  61.11111111% {
    -webkit-transform: rotate(220deg);
  }
  66.66666667% {
    -webkit-transform: rotate(240deg);
  }
  72.22222222% {
    -webkit-transform: rotate(260deg);
  }
  77.77777778% {
    -webkit-transform: rotate(280deg);
  }
  83.33333333% {
    -webkit-transform: rotate(300deg);
  }
  88.88888889% {
    -webkit-transform: rotate(320deg);
  }
  94.44444444% {
    -webkit-transform: rotate(340deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  5.55555556% {
    transform: rotate(20deg);
  }
  11.11111111% {
    transform: rotate(40deg);
  }
  16.66666667% {
    transform: rotate(60deg);
  }
  22.22222222% {
    transform: rotate(80deg);
  }
  27.77777778% {
    transform: rotate(100deg);
  }
  33.33333333% {
    transform: rotate(120deg);
  }
  38.88888889% {
    transform: rotate(140deg);
  }
  44.44444444% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(180deg);
  }
  55.55555556% {
    transform: rotate(200deg);
  }
  61.11111111% {
    transform: rotate(220deg);
  }
  66.66666667% {
    transform: rotate(240deg);
  }
  72.22222222% {
    transform: rotate(260deg);
  }
  77.77777778% {
    transform: rotate(280deg);
  }
  83.33333333% {
    transform: rotate(300deg);
  }
  88.88888889% {
    transform: rotate(320deg);
  }
  94.44444444% {
    transform: rotate(340deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* === Pull To Refresh === */
.show-refresh-layer .pull-to-refresh-layer {
  visibility: visible;
}
.pull-to-refresh-layer {
  position: absolute;
  margin-top: 20px;
  left: 0;
  top: 6px;
  width: 100%;
  height: 30px;
}
.pull-to-refresh-layer .preloader {
  position: absolute;
  left: 24px;
  top: 50%;
  margin-top: -10px;
  visibility: hidden;
}
.pull-to-refresh-layer .pull-to-refresh-arrow {
  width: 13px;
  height: 20px;
  position: absolute;
  left: 24px;
  top: 50%;
  margin-top: -10px;
  background: no-repeat center;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 40'><polygon points='9,22 9,0 17,0 17,22 26,22 13.5,40 0,22' fill='%238c8c8c'/></svg>");
  background-size: 13px 20px;
  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) translate3d(0, 0, 0);
  transform: rotate(0deg) translate3d(0, 0, 0);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.pull-to-refresh-layer .pull-to-refresh-label {
  height: 30px;
  line-height: 30px;
  color: #8c8c8c;
  text-align: center;
}
.pull-to-refresh-layer.show-refresh-layer {
  visibility: visible;
}
.pull-to-refresh-layer.refreshing .pull-to-refresh-arrow {
  visibility: hidden;
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.pull-to-refresh-layer.refreshing .preloader {
  visibility: visible;
}
.pull-to-refresh-layer.pull-up .pull-to-refresh-arrow {
  -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
  -ms-transform: rotate(180deg) translate3d(0, 0, 0);
  transform: rotate(180deg) translate3d(0, 0, 0);
}
.pull-to-refresh-content.transitioning {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.pull-to-refresh-content.refreshing {
  -webkit-transform: translate3d(0, 44px, 0);
  -ms-transform: translate3d(0, 44px, 0);
  transform: translate3d(0, 44px, 0);
}
.pull-to-refresh-content.refreshing .pull-to-refresh-arrow {
  visibility: hidden;
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.pull-to-refresh-content.refreshing .preloader {
  visibility: visible;
}
.pull-to-refresh-content.pull-up .pull-to-refresh-arrow {
  -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
  -ms-transform: rotate(180deg) translate3d(0, 0, 0);
  transform: rotate(180deg) translate3d(0, 0, 0);
}
.slider {
  overflow: hidden;
  background-color: #fff;
  width: 100%;
}
.slider .slide-group {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  height: calc(100% - 18px);
  overflow: hidden;
}
.slider .slide-group .slide {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 14px;
  vertical-align: top;
}
.slider ul.slide-position {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider ul.slide-position li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ffffff;
  border: 2px solid #e1e1e1;
  margin: 0 2px;
  cursor: pointer;
}
.slider ul.slide-position li.on {
  background-color: #e71225;
  border-color: #e71225;
}
